<div class="container chatroom">
  <image class="image-terra" src="https://res.cloudinary.com/dfwstcrkv/image/upload/v1719918548/Logo_Terra_fstymf.png"></image>
  <h1>#<%= @chatroom.name %></h1>

  <div class="messages"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  >

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
<div class="form-chat">
  <%= simple_form_for [@chatroom, @message], html: {class: "d-flex", id: "chatroom-form", data: {controller: "chatroom-subscription"}} do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      input_html: { data: { chatroom_subscription_target: "input" } }, # Ajoutez cette ligne
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.hidden_field :chatroom_id, value: @chatroom.id %>
    <%= f.submit "Send", class: "chatroom-btn btn-primary mb-3" %>
  <% end %>
</div>

</div>
