<h1>Hello from booking show</h1>

<h1><%= @activity.name %></h1>
<p><%= @activity.description %></p>

<% @activity.pictures.each do |picture| %>
  <%= cl_image_tag picture.key, height: 300, width: 400, crop: :fill %>
<% end %>

<h1>booking details</h1>

<div>
  <p><strong>First name:</strong> <%= @booking.first_name %></p>
  <p><strong>Last Name:</strong> <%= @booking.last_name %></p>
  <p><strong>Email:</strong> <%= @booking.email %></p>
  <p><strong>Phone Number:</strong> <%= @booking.phone_number %></p>
  <p><strong>Start Date:</strong> <%= @booking.start_date %></p>
  <p><strong>End Date:</strong> <%= @booking.end_date %></p>
  <p><strong>Adults:</strong> <%= @booking.adults %></p>
  <p><strong>Children:</strong> <%= @booking.children %></p>
</div>

<div>
  <% if @meetings.present? %>
    <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
      <%= date %>

      <% meetings.each do |meeting| %>
        <div class="meeting">
          <p><%= meeting.name %></p>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No meetings found for this period.</p>
  <% end %>
</div>
