<h1><%= @activity.name %></h1>
<p><%= @activity.description %></p>

<% @activity.pictures.each do |picture| %>
  <%= cl_image_tag picture.key, height: 300, width: 400, crop: :fill %>
<% end %>

<div class="booking-details">
  <h1>Réservation</h1>

  <div class="booking-info">
    <p><strong>Prénom:</strong> <%= @booking.first_name %></p>
    <p><strong>Nom:</strong> <%= @booking.last_name %></p>
    <p><strong>E-mail:</strong> <%= @booking.email %></p>
    <p><strong>Numéro de téléphone:</strong> <%= @booking.phone_number %></p>
    <p><strong>Date début:</strong> <%= @booking.start_date %></p>
    <p><strong>Date de fin:</strong> <%= @booking.end_date %></p>
    <p><strong>Adulte(s):</strong> <%= @booking.adults %></p>
    <p><strong>Enfant(s):</strong> <%= @booking.children %></p>
  </div>

  <div class="calendar-container">
    <%= month_calendar(start_date: @start_date, events: [@booking], attribute: :start_date, end_attribute: :end_date) do |date, bookings| %>
      <div class="date">
        <%= date.day %>
      </div>
      <% if date >= @booking.start_date && date <= @booking.end_date %>
        <div class="event">
          <%= @booking.first_name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
