<div class="container-home">

  <div class="banner-home">
    <div class="text-overlay">
      <div class="logo-container">
        <div class="logo-home"> <%= image_tag 'LogoTerra', class:'img-logo-home' %>
        </div>
        <div class="text-logo">
          <h2 class="dancing-script-card">Explorez. Connectez. Vivez pleinement.</h2>
        </div>
      </div>

    <div class="video-background">
      <video autoplay muted loop id="bgVideo">
        <source src="https://res.cloudinary.com/dfwstcrkv/video/upload/v1720444601/0708_2_pj1sfp.mov" type="video/mp4">
      </video>
      <!--<div class="video-overlay"></div>-->
    </div>

      <div class="search-container">
        <form action=<%= activities_path %> method="get">
          <input type="text" placeholder="Votre ville ici" name="city" class="search-input archivo-black-regular">
          <button type="submit" class="search-button">Découvrir</button>
        </form>
      </div>

  <div class="icon-container-home">
    <div class="icon-square" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true" data-bs-title="<span class='icon-tooltipe'>Activités</span>"><a href="#decouvrez"><i class="icon-class fas fa-skiing"></i></a></div>
    <div class="icon-square" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true" data-bs-title='<span class="icon-tooltipe">Producteurs</span>'><%= link_to :controller => "activities", :filters => {:categories => "Producteurs"}, class: "stretched-link " do %><i class="icon-class fas fa-leaf"></i><% end %></div>
    <div class="icon-square" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true" data-bs-title='<span class="icon-tooltipe">Artisans</span>'><%= link_to :controller => "activities", :filters => {:categories => "Artisans" } do %><i class="icon-class fas fa-hammer"></i><% end %></div>
    <div class="icon-square" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true" data-bs-title='<span class="icon-tooltipe">Communauté</span>'><%= link_to :controller => "activities", :filters => {:categories => "Communaute"}, class: "stretched-link " do %><i class="icon-class fas fa-users"></i><% end %></div>
    <div class="icon-square" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true" data-bs-title='<span class="icon-tooltipe">Agenda</span>'><%= link_to bookings_path do %><i class="icon-class fa-solid fa-calendar-days"></i><% end %></div>
  </div>

    </div>
  </div>


  <div class="title-container-home-baniere">
    <h1 class="title-small archivo-black-regular"> DECOUVREZ </h1>
    <h1 class="title-large archivo-black-regular"> DECOUVREZ </h1>
  </div>

  <div class="cards-container" id="decouvrez">
                                                      <!-- ACTIVITIES-->
                                <!--flex top cards-->
    <div class="home-flex-top">
      <div class="flip-card home-flex-top-left">
        <div class="flip-card-inner">
        <%#= link_to :controller => "activities", :filters => {:categories => "Nature" } do %>
        <%= link_to :controller => "activities", :filters => {:categories => "Activites"}, class: "stretched-link " do %>
          <div class="flip-card-front"
                style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?q=80&w=1574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')"
                      >
            <p class="flip-card-back dancing-script-card flip-card-text">Nature</p>
          </div>
          <% end %>
        </div>
      </div>

      <div class="flip-card home-flex-top-right">
        <div class="flip-card-inner">
        <%#= link_to :controller => "activities", :filters => {:categories => "Excursions" } do %>
        <%= link_to :controller => "activities", :filters => {:categories => "Activites"}, class: "stretched-link " do %>
          <div class="flip-card-front"
              style="background-position: center; background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
                    url('<%= image_path "https://images.unsplash.com/photo-1537646692914-61d73c4d6bad?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')"
                    >
            <p class="flip-card-back dancing-script-card flip-card-text">Excursions</p>
          </div>
          <% end %>
        </div>
      </div>
    </div>

                                  <!--flex bottom cards-->
    <div class="home-flex-bottom">
      <div class="flip-card">
        <div class="flip-card-inner">
        <%#= link_to :controller => "activities", :filters => {:categories => "Culture" } do %>
        <%= link_to :controller => "activities", :filters => {:categories => "Activites"}, class: "stretched-link " do %>
          <div class="flip-card-front"
                style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1676283898167-addc4238bee8?q=80&w=1618&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')"
                      >
              <p class="flip-card-back dancing-script-card flip-card-text">Culture</p>
          </div>
          <% end %>
        </div>
      </div>

      <div class="flip-card ">
        <div class="flip-card-inner">
        <%#= link_to :controller => "activities", :filters => {:categories => "Pour les enfants" } do %>
        <%= link_to :controller => "activities", :filters => {:categories => "Activites"}, class: "stretched-link " do %>
          <div class="flip-card-front"
                style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1717397199603-1d316cb68747?q=80&w=1718&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')"
                      >
            <p class="flip-card-back dancing-script-card flip-card-text">Pour les enfants</p>
          </div>
          <% end %>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
        <%#= link_to :controller => "activities", :filters => {:categories => "Balades" }  do %>
        <%= link_to :controller => "activities", :filters => {:categories => "Activites"}, class: "stretched-link " do %>
          <div class="flip-card-front"
                style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "famille.jpg" %>')"
                      >
            <p class="flip-card-back dancing-script-card flip-card-text">Balades</p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
                    <!-- bouton activities -->
    <div class="index-activities archivo-black-regular">
    <%= link_to "Toutes nos propositions", activities_path, class: "btn-activities" %>
    </div>
  </div>

                                              <!-- PRODUCTEURS -->

  <div class="title-container-home-baniere">
    <h1 class="title-small archivo-black-regular"> PRODUCTEURS </h1>
    <h1 class="title-large archivo-black-regular"> PRODUCTEURS </h1>
  </div>

  <div class="mosaique" id="producteurs">

    <div class="mosaiquex1" style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1537721664796-76f77222a5d0?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')">
      <%= link_to :controller => "activities", :filters => {:categories => "Producteurs"}, class: "stretched-link " do %>
      <p class="dancing-script-card">Tradition</p>
      <% end %>
    </div>

    <div class="mosaiquex4">
      <div class="mosaiquex2">
        <div class="photo-mosaiquex2"
          style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1590682680695-43b964a3ae17?q=80&w=1600&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')">
          <%= link_to :controller => "activities", :filters => {:categories => "Producteurs"}, class: "stretched-link " do %>
            <p class=" dancing-script-card">Passion</p>
           <% end %>
        </div>

        <div class="photo-mosaiquex2"
          style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1471193945509-9ad0617afabf?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')">
          <%= link_to :controller => "activities", :filters => {:categories => "Producteurs"}, class: "stretched-link " do %>
            <p class=" dancing-script-card">Circuit court</p>
          <% end %>
        </div>

      </div>
      <div class="mosaiquex2">
        <div class="photo-mosaiquex2"
          style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1567306226416-28f0efdc88ce?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')">
          <%= link_to :controller => "activities", :filters => {:categories => "Producteurs"}, class: "stretched-link " do %>
            <p class=" dancing-script-card">Sans additifs</p>
          <% end %>
        </div>

        <div class="photo-mosaiquex2"
          style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1594771804886-a933bb2d609b?q=80&w=1764&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')">
          <%= link_to :controller => "activities", :filters => {:categories => "Producteurs"}, class: "stretched-link " do %>
          <p class=" dancing-script-card">Commerce équitable</p>
          <% end %>
        </div>

      </div>
    </div>
  </div>

                                            <!--ARTISAN.ES-->
  <div class="title-container-home-baniere">
    <h1 class="title-small archivo-black-regular"> ARTISANS </h1>
    <h1 class="title-large archivo-black-regular"> ARTISANS </h1>
  </div>

    <div class="cards-container" id="artisanies">
                                                      <!-- ARTISAIN.ES-->
                                <!--flex top cards-->
    <div class="home-flex-top">
      <div class="flip-card home-flex-top-left">
        <div class="flip-card-inner">
        <%= link_to :controller => "activities", :filters => {:categories => "Artisans" } do %>
          <div class="flip-card-front"
                style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1621846323386-a60faf26f962?q=80&w=1742&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')"
                      >
            <p class="flip-card-back dancing-script-card flip-card-text">Créativité</p>
          </div>
          <% end %>
        </div>
      </div>

      <div class="flip-card home-flex-top-right">
        <div class="flip-card-inner">
        <%= link_to :controller => "activities", :filters => {:categories => "Artisans" } do %>
          <div class="flip-card-front"
              style="background-position: center; background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                    url('<%= image_path "https://images.unsplash.com/photo-1521799022345-481a897e45ca?q=80&w=1529&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')"
                    >
            <p class="flip-card-back dancing-script-card flip-card-text">Qualité</p>
          </div>
          <% end %>
        </div>
      </div>
    </div>

                                  <!--flex bottom cards-->
    <div class="home-flex-bottom">
      <div class="flip-card">
        <div class="flip-card-inner">
        <%= link_to :controller => "activities", :filters => {:categories => "Artisans" } do %>
          <div class="flip-card-front"
                style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1698755681090-b18793ba9849?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')"
                      >
              <p class="flip-card-back dancing-script-card flip-card-text">Authenticité</p>
          </div>
          <% end %>
        </div>
      </div>

      <div class="flip-card ">
        <div class="flip-card-inner">
        <%= link_to :controller => "activities", :filters => {:categories => "Artisans" } do %>
          <div class="flip-card-front"
                style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1621371205896-3082fa811d54?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')"
                      >
            <p class="flip-card-back dancing-script-card flip-card-text">Expertise</p>
          </div>
          <% end %>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
        <%= link_to :controller => "activities", :filters => {:categories => "Artisans" } do %>
          <div class="flip-card-front"
                style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1645739175668-3f269e7f46da?q=80&w=1742&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')"
                      >
            <p class="flip-card-back dancing-script-card flip-card-text">Durabilité</p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
                    <!-- bouton activities -->
    <div class="index-activities archivo-black-regular">
    <%= link_to "Toutes nos propositions", activities_path, class: "btn-activities" %>
    </div>
  </div>


                                            <!--COMMUNAUTÉ-->
  <div class="title-container-home-baniere">
    <h1 class="title-small archivo-black-regular"> COMMUNAUTÉ </h1>
    <h1 class="title-large archivo-black-regular"> COMMUNAUTÉ </h1>
  </div>

    <div class="mosaique" id="communaute">
    <div class="mosaiquex1" style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1484712401471-05c7215830eb?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')">
      <%= link_to :controller => "activities", :filters => {:categories => "Communaute"}, class: "stretched-link " do %>
        <p class=" dancing-script-card">Partage</p>
      <% end %>
    </div>

    <div class="mosaiquex4">
      <div class="mosaiquex2">
        <div class="photo-mosaiquex2"
          style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1555019877-f3eb6deb89d1?q=80&w=2344&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')">
          <%= link_to :controller => "activities", :filters => {:categories => "Communaute"}, class: "stretched-link " do %>
            <p class=" dancing-script-card">Respect</p>
          <% end %>
        </div>

        <div class="photo-mosaiquex2"
          style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1549062572-b4280938a25f?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')">
          <%= link_to :controller => "activities", :filters => {:categories => "Communaute"}, class: "stretched-link " do %>
            <p class=" dancing-script-card">Proximité</p>
          <% end %>
        </div>

      </div>
      <div class="mosaiquex2">
        <div class="photo-mosaiquex2"
          style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1516321497487-e288fb19713f?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')">
          <%= link_to :controller => "activities", :filters => {:categories => "Communaute"}, class: "stretched-link " do %>
            <p class=" dancing-script-card">Échange</p>
          <% end %>
        </div>

        <div class="photo-mosaiquex2"
          style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')">
          <%= link_to :controller => "activities", :filters => {:categories => "Communaute"}, class: "stretched-link " do %>
            <p class=" dancing-script-card">Dynamisme</p>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <!--<div class="cards-container">
    <div class="home-flex-bottom">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front"
                style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%#= image_path "https://res.cloudinary.com/dtswvq8pg/image/upload/v1720193465/photo-1620589125117-af1d850a302b_wmcbaf.jpg" %>')"
                      >
              <p class="flip-card-back dancing-script-card">Culture</p>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front"
                style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%#= image_path "parc-enfants.jpg" %>')"
                      >
            <p class="flip-card-back dancing-script-card">Pour les enfants</p>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front"
                style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%#= image_path "famille.jpg" %>')"
                      >
            <p class="flip-card-back dancing-script-card">Balades</p>
          </div>
        </div>
      </div>
    </div>
      <div class="index-activities">
        <%#= link_to "CHATROOM", activities_path, class: "btn-activities" %>-->
<!--      </div>
  </div>-->
                          <!--bouton chatroom-->

                                            <!--AGENDA-->
  <div class="title-container-home-baniere">
    <h1 class="title-small archivo-black-regular"> AGENDA </h1>
    <h1 class="title-large archivo-black-regular"> AGENDA </h1>
  </div>

  <div class="card-agenda" id="agenda">
    <div class="card-agendax2" style="background-position: bottom; background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                      url('<%= image_path "https://images.unsplash.com/photo-1524601500432-1e1a4c71d692?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')">
      <p class="dancing-script-card text-agenda flip-card-back flip-card-text">Explorez<br> Connectez <br> Vivez pleinement</p>

    </div>
    <div class="card-agendax2 flip-card-front" style="background-size: cover; width: 100%; height: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url('<%= image_path "https://images.unsplash.com/photo-1586523903177-854b166f4514?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>')">
    <%= link_to bookings_path, class: 'text-agenda' do %>
      <p class="dancing-script-card flip-card-back flip-card-front flip-card-text ">Réservez vos activités</p>
    <% end %>
    </div>
  </div>

</div>
