<%= simple_form_for [@activity, @booking], data: { turbo: false } do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :start_date, "Date de début", class: "form-label" %>
    <%= form.text_field :start_date, class: "form-control narrow-input datepicker", data: { controller: "datepicker" } %>
  </div>

  <div class="form-field">
    <%= form.label :end_date, "Date de fin", class: "form-label" %>
    <%= form.text_field :end_date, class: "form-control narrow-input datepicker", data: { controller: "datepicker" } %>
  </div>

  <div class="form-field btn-activity-show-form">
    <%= form.submit 'Ajouter à mon carnet', class:'btn-activity-show'%>
  </div>
<% end %>
