
<div class="cards-activities-container">
  <% @activities.each do |activity| %>
    <div class="card-activity">
      <%= link_to activity_path(activity) do %>
        <h3><%= activity.name %></h3>
      <% end %>
      <p><%= activity.description %></p>
    </div>
  <% end %>
</div>


  <div id="activity-map"
      data-controller="map"
      data-map-api-key-value="<%= ENV['MAPBOX_TOKEN'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style="width: 550px; height: 300px; margin: 0 auto;"
      >
  </div>

