<!-- <div class="logo-index-activity"><%#= image_tag 'LogoTerra.png' %></div>-->
<div class="container-index-activity">

  <div data-controller="filterform">
    <!-- Button to toggle filter form -->
    <div class="filter-categories" data-action="click->filterform#filterForm">
      <i class="fa fa-filter"></i>
    </div>

   <!-- Filter form -->
    <div class="filter-container d-none" data-filterform-target="filterForm">
      <%= simple_form_for :filters, url: activities_path, method: :get, html: { class: 'filter-form-categories' } do |f| %>
        <div class="form-group-categories">
          <p>Filtrer par catégorie</p>
          <input type="hidden" value="<%= params[:city] if params[:city].present? %>" name="city">
          <% Activity::CATEGORIES.each do |name| %>
            <div class="checkbox">
              <%= f.check_box :categories, { multiple: true }, name, nil %>
              <%= f.label :categories, name %>
            </div>
          <% end %>
        </div>
        <%= f.submit 'Filtrer', class: 'btn btn-primary' %>
        <% end %>
    </div>
  </div>




  <div class="cards-activities-container">
    <% if @activities.empty? %>
      <h1 class="title-index-activity">Désolée, votre activité n'est pas disponible </h1>
    <% else %>
     <h1 class="title-index-activity">Voici nos propositions: </h1>
      <div id="activity-map"
        data-controller="map"
        data-map-api-key-value="<%= ENV['MAPBOX_TOKEN'] %>"
        data-map-markers-value="<%= @markers.to_json %>"
        >
      </div>
      <% @activities.each do |activity| %>
        <div class="card-activity">

          <!-- Bootstrap Carousel -->
          <div id="carousel-<%= activity.id %>" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% activity.pictures.each_with_index do |picture, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %> anim-scale__inner">
                  <%= cl_image_tag picture.key, class: "d-block w-100", height: 300, width: 400, crop: :fill %>
                </div>
              <% end %>
            </div>
              <a class="carousel-control-prev" href="#carousel-<%= activity.id %>" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-<%= activity.id %>" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>

            <!-- End of Bootstrap Carousel -->
            <%= link_to activity_path(activity) do %>
              <h3><%= activity.name %></h3>
            <% end %>
            <!-- <p><%#= activity.description %></p>-->
        </div>
      <% end %>
    <% end %>
  </div>
</div>
