
<%#= cl_image_tag @activity.pictures.url %>
<h1><%= @activity.name %></h1>
<p><%= @activity.description %></p>

<% @activity.pictures.each do |picture| %>
  <%= cl_image_tag picture.key, height: 300, width: 400, crop: :fill %>
<% end %>


<div data-controller="toggle" class="mt-5">
  <button class="btn btn-primary mb-3" data-action="click->toggle#fire">Réserver</button>
  <div data-toggle-target="togglableElement" class="d-none">
      <%= render "form", booking: @booking %>
  </div>
  
  <h1><%= @activity.name %></h1>
<p><%= @activity.description %></p>

<%# <% if @user.favorited?(@activity) %>
  <%# <p>This activity is in your favorites.</p> %>
<%# <% else %>
  <%# <%= link_to 'Add to Favorites', favorite_path(activity_id: @activity.id), method: :post %>
<%# <% end %>

  <%= button_to "Favorie", activity_favorites_path(@activity), method: :post %>
</div>
