
<%#= cl_image_tag @activity.pictures.url %>
<div class="activity-card-show">
  <div id="carousel-<%= @activity.id %>" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @activity.pictures.each_with_index do |picture, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="img-container-activity">
            <%= cl_image_tag picture.key, height: 300, width: 1400, crop: :fill %>
            <h1 class="title-activity-show"><%= @activity.name %></h1>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carousel-<%= @activity.id %>" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-<%= @activity.id %>" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="description-activity-show">
<p><%= @activity.description %></p>
</div>

<div data-controller="toggle" class="mt-5">
  <button class="btn btn-primary mb-3" data-action="click->toggle#fire">Réserver</button>
  <div data-toggle-target="togglableElement" class="d-none">
      <%= render "form", booking: @booking %>
  </div>

<%# <% if @user.favorited?(@activity) %>
  <%# <p>This activity is in your favorites.</p> %>
<%# <% else %>
  <%# <%= link_to 'Add to Favorites', favorite_path(activity_id: @activity.id), method: :post %>
<%# <% end %>

  <%= button_to "Favoris", activity_favorites_path(@activity), method: :post %>
</div>
