<!DOCTYPE html>
<html>
  <head>
    <title>TerraTrek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
    </style>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Archivo+Black&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
    </style>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>

  <body>
  <% unless controller_name == 'pages' && action_name == 'home' %>
  <%= render "shared/navbar" %>
  <% end %>
  <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
