<!DOCTYPE html>
<html>
  <head>
    <title>TerraTrek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag %>

  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FV3200F71L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FV3200F71L');
    </script>

  </head>

  <body data-controller="tooltip">
  <% unless controller_name == 'pages' && action_name == 'home' %>
  <%= render "shared/navbar" %>
  <% end %>
  <%= render "shared/flashes" %>
  <div class="main-content">
      <%= yield %>

  </div>
    <%= render "shared/footer" %>
  </body>
</html>
